.App {
  text-align: center;
}

.center {
  display: flex;
  justify-content: center;
}

.particles {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}



@font-face {
font-family: 'Press Start 2P';
font-style: normal;
font-weight: normal;
src: local('PressStart2P-Regular'), url('PressStart2P-Regular.ttf') format('ttf');
}

h1{
	font-family: 'Press Start 2P';
	font-weight: 900;
	font-size: 80px;
}